.headerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4%;
}
.headerBox .container1 {
}
.headerBox .container2 {
}
.headerBox .container3{
    display: flex;
    align-items: center;
}

.backButton {
    padding-left: 40px;
    font-size: 18px;
    color: lightgreen;
    cursor: pointer;

}


.list{
    display: table;
    margin: auto;
}
.list .contain {
    display: table-cell;
    padding: 15px;
    font-size: 16px;
    color: darkslategrey;
    font-weight: bold;
    cursor: pointer;
    
}
.list .contain:hover {
    color: yellowgreen;
}
.list .contain:focus {
    outline: none;
}

.list .active {
    color: blue;
    outline: none;
}

.loginRow{
    text-align: end;
}
.signinButton {
    width: 90px;
    height: 30px;
    font-size: 15px;
    background-color: blue ;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signinButton:focus{
   outline: none;
}
.signinButton:hover{
    background-color: yellowgreen;
}
.logoutButton{
    width: 90px;
    height: 30px;
    font-size: 15px;
    border: none;
    color: yellowgreen;
    cursor: pointer;
    
}
.logoutButton:hover{
    color: cornflowerblue;
    cursor: pointer;
}
.logoutButton:focus{
    outline: none;
}
.user {
    color: gray;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 5px;
}
.cart {
    border-radius: 50px;
    position: absolute;
    color: red;
    padding: 1px 5px 1px 5px;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
    left: 13px;
    top: -10px;
    border: 1px solid red;
    
}
.cartText {
    margin-right: 20px;
    cursor: pointer;
    color: blue;
    position: relative;
    padding: 5px;
    
}