<div class="mainBox">
    <h1 class="title">Contact Us</h1>
    <div class="homeBelowBox">
        <div class="leftBox">
            <h3>Red Themes</h3>
            <p>Hi Guys,</p>
            <p>Plese subscribe my youtube channel and Facebook page so i can get motivation to create more Themes</p>
            <div>
                <a href="https://www.facebook.com/redthemes/"><fa style="font-size: 30px; color: blue" name="facebook-f"></fa></a>
                <a href="https://www.youtube.com/channel/UClQ-VHsGbAjmHy54EvSo8MQ"><fa style="font-size: 30px; margin-left: 20px; color: red" name="youtube"></fa></a>
                
            </div>
        </div>
        <div class="rightBox ">
            <img width="400" height="280" src="https://staticmapmaker.com/img/google@2x.png" class="image" />
        </div>
    </div>
</div>