<div class="loginBox">
    <img src="https://banner2.kisspng.com/20171218/f41/apple-logo-png-5a37e212dfda18.3311147015136117949169.jpg" width="65" height="50" style="padding-top:15px;">
    <p class="signInText">Please sign in</p>
    <div><input type="text" class="inputBox" #name placeholder="User name"></div>
    <div style="padding: 10px;"><input type="password" #password class="inputBox" placeholder="Password"></div>
    <div><button class="signinButton" (click)="login(name)">Login</button></div>

</div>