.mainBox{
    margin: 10px 60px 10px;
    padding: 10px;
    height: 800px;

    background: whitesmoke;
}
.mainBox .title {
    border-left: 5px solid blue;
    padding-left: 10px;
    font-weight: lighter;
}
.galleryBox {
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}

.galleryBox .cotainBox {
    width: 200px;
    margin-right: 10px;
    margin-top: 10px;
    
    position: relative;
   
    height: 200px;
}
.galleryBox .cotainBox .contain {
    text-align: center;
    font-weight: lighter;
}