<div class="mainBox">
    <h1 class="title">{{product.text}}</h1>
    <div class="homeBelowBox">
        <div class="leftBox">
            <h3>Product Description</h3>
            <div class="contain">
                <p>
                    It is fun to use, it is powerful and it looks incredible, meet the Apple MacBook Air. This Sleek and
                    Lightweight laptop is powered by Intel Core i5 5th Gen processor with 8 GB DDR3 RAM and 128 GB of
                    SSD capacity to make multitasking smooth and easy. It is designed with a Backlit Keyboard and its
                    Multi-Touch Trackpad will be an absolute pleasure to use.
                </p>
                <h4> Sleek, Lightweight and Powerful</h4>
                <p>It is designed with an incredibly thin and sleek body and can perform powerful tasks seamlessly.
                    Whatever the task - be it editing photos, multitasking, or browsing the web, this fifth-generation
                    MacBook Air can make everything ultra-fast.
                </p>
                <h4>High-performance Processor</h4>

                <p>The speed and smooth performance of this MacBook Air is certain to impress. It is powered by Intel
                    Core i5 5th Gen processor and it has a clock speed of around 1.8 GHz with Turbo Boost of up to 2.9
                    GHz to deliver highly efficient and exceptional performance. Moreover, with its Intel Integrated HD
                    6000 graphics processor, you can truly enjoy graphic-intensive tasks and play your favorite
                    graphic-rich games.
                </p>
            </div>
        </div>
        <div class="rightBox ">
            <img [src]="product.image[0]" class="image" />
        </div>
    </div>
</div>