.mainBox{
    margin: 10px 60px 10px;
    padding: 10px;
    height: 600px;

    background: whitesmoke;
}
.mainBox .title {
    border-left: 5px solid blue;
    padding-left: 10px;
    font-weight: lighter;
}
.homeBelowBox {
    height: 300px;
    display: table;
    width: 100%;
}
.leftBox{
    display: table-cell;
    width: 60%;
}
.leftBox .contain {
    padding-left: 10px;
}
.rightBox {
    margin: 10px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    width: 40%;
    
}
.rightBox .contain {
    font-weight: lighter;
}
.image{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}