<div class="mainBox">
    <h1 class="title">Home</h1>
    <div class="homeBelowBox">
        <div class="leftBox">
            <p class="contain">
                Power to change everything. Say hello to a Mac that is extreme in every way. With the greatest
                performance, expansion and configurability yet, it is a system created to let a wide range of
                professionals push the limits of what is possible.
            </p>
            <p class="contain">
                Function defines form. Every aspect of Mac Pro is designed in pursuit of performance. Built around a
                stainless steel space frame, an aluminium housing lifts off, allowing 360-degree access to every
                component and vast configuration. From there anything is possible.
            </p>
            <div  class="contain">
                <p>Please visit to my pages to view more themes</p>
                <a href="https://www.facebook.com/redthemes/">
                    <fa style="font-size: 30px; color: blue" name="facebook-f"></fa>
                </a>
                <a href="https://www.youtube.com/channel/UClQ-VHsGbAjmHy54EvSo8MQ">
                    <fa style="font-size: 30px; margin-left: 20px; color: red" name="youtube"></fa>
                </a>

            </div>
        </div>
        <div class="rightBox ">
            <img src="https://www.macworld.co.uk/cmsdata/features/3465239/imac_21_5_2019_with_mba2019_04.jpg"
                class="image" />
        </div>
    </div>
</div>